# Ignore Python bytecode files
__pycache__/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/
.vs/

# Ignore temporary files
*.tmp
*.bak

# ignore file lapi.weights
alpr/lapi.weights

##ignore folder storage
plateDetector/bin/Debug/venv

# Ignore image files in captureImg
plateDetector/bin/Debug/captureImg/*.jpg
plateDetector/bin/Debug/captureImg/*.png
plateDetector/bin/Debug/captureImg/*.bmp
